body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    margin: 0;
    background-color: #f3f3f3;
    font-family: Roboto;
}

.nav-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
}

.full-width {
    width: 100%;
}

.full-width--main-nav {
    background-color: #000;
    color: #fff;
}

.full-width--subnav {
    background-color: #f5fdfe;
    color: #000;
}

h1, h2 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
}

.nav-container {
    margin: 0 auto;
    max-width: 1090px;
    padding-right: 20px;
    padding-left: 20px;
}

@media (min-width: 1090px) {
    .nav-container {
        padding-right: 0;
        padding-left: 0;
    }
}
.nav-options {
    display: flex;
}

/* main nav */
.nav-options__item {
    margin-left: 12px;
}

.nav-options__item:first-child {
    margin-left: 0;
}

.nav-options__link {
    color: #fff;
    text-decoration: none;
}

.nav-options__link:hover {
    text-decoration: underline;
}

/* Sub nav */
.subnav-list {
    display: flex;
}

.subnav-list__item {
    color: #000;
}

.subnav-list__link {
    color: #27A0B6;
    display: inline-block;
    text-decoration: none;
    padding: 15px 22px;
}

.subnav-list__link:hover {
    background: #fff;
}

/* MAIN SECTION */

main {
    margin: 10rem auto 0 auto;
    max-width: 1090px;
}

.main-info {
    width: 85%;
    text-align: center;
    margin: 0 auto;
}
.title {
    color: #27A0B6;
    font-size: 1rem;
    font-weight: 700;
}
.subtitle {
    font-size: 2rem;
    font-weight: 200;
}
.description {
    font-size: 1.2rem;
    font-family: "Roboto Mono", monospace;
    font-weight: 200;
    color: #555555;
}

.box-options {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 4rem;
}  
.box {
    width: 48%;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 19px -10px rgba(179,179,179,1);
    border-radius: 1px;
}
.box-info {
    padding: 40px;   
}

.img-container {
    min-height: 115px;
}
.definition {
    color: #555555;
    min-height: 240px;
    line-height: 1.4;
}
.box-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.html{
    width: 100px;
}
.css {
    width: 65px;
}

.btn{
    padding: 15px 65px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
}
.primary {
    background-color: #04AA51;
    color: #fff;
    border: 1px solid #04AA51;
}

.primary:hover {
    background-color: #2ABD4A;
}

.secondary {
    background-color: #fff;
    color: #04AA51;
    border: 1px solid #D8D8D8;
}
.secondary:hover {
    border: 1px solid #04AA51;
}

.details-container {
    min-height: 150px;
    border-top: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    padding: 25px 70px;  
    text-align: left;
}
.details-container-title {
    color: #898989;
    font-size: 1rem;
    font-weight: 100;
}

.details-items {
    font-weight: 600;
    color: #555555;
}


